body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    text-shadow: -1px 1px 5px blue;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    text-shadow: -1px 1px 5px blue;
}

section {
    display: flex;

}

table {
    border: 1px solid;
    border-color: black;
    min-width: 200px;
    min-height: 200px;
    border-radius: 25% 10%;
    border-spacing: 0px;
    text-align: center;
    background-color: rgb(96, 168, 162);
}

.results {
    display: flex;
    flex-wrap: wrap;
}

p {
    margin: 0;
}

.coincidencesmap {
    max-width: 200px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.VariationOfMaps {
    margin-left: 50px;
}

button {
    margin-top: 10px;
    width: 123px;
    border-radius: 25%;
    background-color: rgba(231, 118, 175, 0.425);
    border: 0px;
    font-family: 'Open_Sans';
    font-style: italic;
}

.datacontainer {
    margin-bottom: 10px;
}

.resultSector {
    min-width: 500px;
    flex-wrap: wrap;
}

.reliableInformation {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 80px;
    width: 250px;
    height: 250px;
}


table {
    margin-right: 50px;
    box-shadow: 10px 1px 1px rgb(65, 116, 111);
}

.hidden {
    display: none;
}

caption {
    margin-top: 10px;
    margin-bottom: 5px;
    color: blue;
}

caption::first-letter {
    text-transform: uppercase;
}

.scrollButton {
    position: sticky;
    top: 30px;
    max-width: 100px;
}

.nameOfResult {
    min-width: 100%;
}

.resultsTables {
    flex-wrap: wrap;
    display: flex;
}

.sectionBody {
    display: flex;
    flex-direction: row;
}

.gradient-button {
    color: white;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 50%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 10px 10px 20px rgb(85, 112, 199);
    transition: 1s;
}

.gradient-button:hover {
    background-position: right center;
}

.buttonTap:active {
    color: blue;
    background-color: rgba(141, 70, 105, 0.534);
    border: 0px;
    transition: 0s;
}

body {
    font-family: 'Open_Sans';
    font-style: italic;
}

.imgFeo {
    background-image: url(/images/image\ 1.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.imgUr {
    background-image: url(/images/image\ 2.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.imgTorn {
    background-image: url(/images/image\ 3.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.imgIo {
    background-image: url(/images/image\ 4.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.imgRad {
    background-image: url(/images/image\ 5.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.imgTir {
    background-image: url(/images/image\ 6.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.imgGifu {
    background-image: url(/images/image\ 7.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.imgYar {
    background-image: url(/images/image\ 8.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

.imgHegil {
    background-image: url(/images/image\ 9.png);
    background-repeat: no-repeat;
    background-position: 50%;
}/*
.tableRune2_1{
    display: none;
    }
.tableRune4_1 {
    display: none;
    }
.tableRune5_1 {
    display: none;
    }
.tableRune6_1 {
    display: none;
    }
    
.tableRune8_1{
    display: none;
    }
    
.tableRune2 {
    display: none;
    }
.tableRune4 {
    display: none;
    }
.tableRune5 {
    display: none;
    }
.tableRune6 {
    display: none;
    }
    
.tableRune8{
display: none;
}
.nonDisplay {
    display: none;
}*/
