h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

section {
    display: flex;

}

table {
   border: 1px solid;
    border-color: black;
    /*border-collapse: collapse;*/
    min-width: 200px;
    min-height: 200px;
    border-radius: 25% 10%;
    border-spacing: 0px;
    text-align: center;
    background-color: rgb(160, 207, 30);
}

tr,
td {
   /* border: 0px solid;*/
}

.results {
    display: flex;
    flex-wrap: wrap;

}

p {
    margin: 0;
}

.coincidencesmap {
    max-width: 200px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.marginLeft50px {
    margin-left: 50px;
}

button {
    margin-top: 10px;
    width: 123px;
    border-radius: 25%;
    background-color: coral;
}

.datacontainer {
    margin-bottom: 10px;
}

.resultSector {
    min-width: 500px;

    flex-wrap: wrap;
}

.reliableInformation {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 80px;
    width: 250px;
    height: 250px;


}

.coincidencesmap {}

table {
    margin-right: 50px;

}

.hidden {
    display: none;
}

caption {
    margin-top: 10px;
    margin-bottom: 5px;
}

.scrollButton {
    position: sticky;
    top: 2em;
    max-width: 100px;
}

.nameOfResult {
    min-width: 100%;

}

.resultsTables {
    max-width: 80%;
    flex-wrap: wrap;
    display: flex;
}

.sectionBody {
    display: flex;
    flex-direction: row;
}
.buttonTap:active {
    color: blue;
    background-color: aqua;
    border: 0px;
}